:root {
    --primary-color: #87Aeab;
    --accent-color: #EF7E09;
    --background-color: #e9c69c;
    --light-bg: #f7cc61;
    --border-width: 0.5rem;
    --padding-base: 1rem;
    --heading-font: 'Simonetta', serif, 'lato', sans-serif;
    --body-font: 'Zain', sans-serif, 'Arial', sans-serif; 
}


header {
    background-color: var(--primary-color);
}

#cottage-title {
    font-family: var(--heading-font);
    font-weight: 900;
    color: black;
    font-size: 2rem;
    padding: var(--padding-base);
    text-align: center;
}

.house {
    position: relative;
    width: 5em;             
    left: 10px;
    top: 20px;
}

/* navigation hamburger button */
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    padding: .5rem;
    background-color: var(--primary-color);
    color: black;
}

#menu::before {
    content: "≡";
}

nav {
    background-color: var(--primary-color);
    display: flex;
}

.navigation {
    list-style: none;
    margin: 0 auto;
    max-width: 760px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 1rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;    
    transition: 0.5s;    
    font-size: 1.5em;
}

.navigation a:hover,
.navigation a:active {
    color: white;
    background-color: black;
}

.show li {
    display: block;
}

#menu.show::before {
    content: "X";
}

body {
    background-color: var(--background-color);
    font-family: var(--body-font);
}

h1 {
    font-family: var(--heading-font);
    font-weight: 900;
    color: black;
    font-size: 1.5rem;
    padding: var(--padding-base);
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

aside {
    background-color: var(--light-bg);
    padding: 10px;    
    display: flex;
    flex-direction: column;
}

.hero {
    padding: 10px;
    position: relative;       
}

.hero img {    
    width: 100%;
    height: auto;
    opacity: 0.5;       
}

.hero-title {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 2rem;
    color: whitesmoke;    
    text-shadow: 4px 4px 4px black;
}

img.baker {
    border-radius: 50%;
    margin: 1em auto;
    display: block;
    box-shadow: 0 0 10px #333;
    width: 150px;
    height: auto;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 2em;
    box-shadow: inset 0 0 10px #333;          
}

.cards img {
    width: 200px;
    height: auto;    
}


span.confirmation,
span.orders {
    display: block;    
    font-size: 1.5rem;
    margin: 1.5rem;        
    text-align: center;
}




footer {
    background-color: var(--primary-color);
    text-align: center;
    color: black;
}

/* larger screen navigation menu*/
@media only screen and (min-width: 50em) {

    #cottage-title {
        font-size: 3rem;
    }

    h1 {
        font-size: 2rem;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigation a {
        text-align: center;
    }

    #menu {
        display: none;
    }
    .hero-title {
        font-size: 4rem;
    }
}