:root {
    --primary-color: #607B79;
    --accent-color: #EF7E09;
    --background-color: #B89C79;
    --light-bg: #f7cc61;          
    --border-width: 0.5rem;
    --padding-base: 1rem;
}

h1 {
    font-family: 'Simonetta', serif;      
}

li {
    font-family: 'Zain', sans-serif;       
}

header {
    background-color: var(--background-color);    
}

.purpose {
    color: var(--accent-color);
}


footer {
    background-color: var(--background-color);
    text-align: center;
    color: black;
    padding: var(--padding-base);
}