* {
    margin: 0;
    padding: 0;
}

body {
    font-family: acme, Arial, sans-serif;
    grid-template-rows: 1;
}

h1 {
    text-align: center;
    background-color: rgb(0 110 182 / 1);
    padding: 0.5rem;
    color: #fff;
}

p {
    text-align: center;
}

nav {
    margin: 0 auto 2rem;
    max-width: 90vw;
}

main {
    margin: 1rem;
    text-align: left;
    border: 1px solid rgb(0 0 0 / .2);
    padding: 1rem;
    background-color: #eee;
}

aside {
    width: 30%;
    padding: 0.5rem;
    margin: 1rem;
    #box-shadow: inset 5px 0 5px -5px #29627e;
    float: right;
    font-style: italic;
    color: #29627e;
}

aside p {
    margin: -0.5rem;
    background-color: yellow;
}

.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    align-items: center;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}

.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: yellow;
}

footer {
    
}