* {
    margin: 0;
    padding: 0;
}

body {
    font-family: acme, Arial, sans-serif;
    grid-template-rows: 1;
}

h1 {
    text-align: left;
    background-color: rgb(0 110 182 / 1);
    padding: 0.5rem;
    color: #fff;
}

p {
    text-align: left;
}

nav {
    margin: 0 auto;
}
.columns {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 1rem;
}

main {    
    text-align: left;
    border: 2px solid rgb(0 0 0 / .2);
    padding: 1rem;
    background-color: #eee;
}

aside {
    width: 30%;
    padding: 2rem;
    margin: 0.5rem;
    
    font-style: italic;
    color: #29627e;
}

aside p {
    padding: 5rem;  
    
}

.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: #333;
    align-items: center;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}

.navigation a:hover {
    font-weight: 700;
    text-decoration: underline;
    text-decoration-color: yellow;
}

footer {
    padding: 1rem;
    text-align: left;
    color: #fff;
    background-color: rgb(0 110 182 / 1);
    border: 2px solid rgb(0 0 0 / .2);
}