header {
  background-color: rgb(144, 144, 247);
  text-align: center;
  color: white;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 100;
}

header span {
  display: block;
  justify-content: center;
}

nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: white;
  border: 0.25rem solid #ccc;
}

.card-content {
  padding: 1rem;
  flex: 1;
  margin: 0 auto;
}



img.profilepic {
  width: 150px;
  display: block;
  margin: 0 auto 15px auto;
}