body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 100;
}

header span {
  display: block;
}

nav {
  display: flex;
  grid-column: 1/3;
  justify-content: space around;
}