header {
  background-color: rgb(52, 52, 115);
  text-align: center;
  color: white;  
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: larger;
  max-width: 1000px;
}

h1 {
  font-weight: 700;  
  grid-column: 1/3;
  text-align: center;
}

#course-title {
  display: block;
  padding: 1.5rem;
  font-size: 2rem; 
}

nav {  
  display: flex;
  justify-content: space-around;  
  padding: 1rem;  
}

nav a:hover {
  background-color: rgb(70, 70, 150);
  font-size: larger;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 400;
  padding: .5rem;  
}

main {
  display: grid;  
}

h2 {
  font-weight: 700;
  text-align: center;
  background-color: rgb(52, 52, 115);  
  color: white;
  margin: 0 auto;
  padding: 1rem;
}

div {
  padding: 1rem;
}


.card {
  background-color: white;
  border: 0.5rem solid #ccc;
}

.card-content {
  padding: 1rem;
  flex: 1;
  margin: 0 auto;
  justify-content: center;
}

img.profilepic {
  width: 30%;
  display: block;  
  float: right; 
  padding: .5rem; 
}

img.ocean {
  width: 40%;  
  Display: block; 
  float: left;
  padding: .5rem;   
}

.california h2 {
  background-color: white;
  color: black;
  text-decoration: underline;
}



footer {
  background-color: rgb(52, 52, 115);
  text-align: center;
  color: white;
  padding: 1rem;
}