




header {
  background-color: rgb(52, 52, 115);
  text-align: center;
  color: whitesmoke;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 28px;  
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  grid-column: 1/3;
  text-align: center;
}

#course-title {
  display: block;
  padding: 1.5rem;
  font-size: 2rem;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

nav a:hover {
  background-color: rgb(70, 70, 150);
  font-size: larger;
}

nav a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: 400;
  padding: .5rem;
}

main {
  display: grid;
  background-color: rgb(255 255 255);
}

h2 {
  font-weight: 700;
  text-align: center;
  background-color: rgb(52, 52, 115);
  color: whitesmoke;
  margin: 0 auto;
}

div {
  display: block;
  margin: .5rem;
}

.about p {
  padding-bottom: 0;
  margin: .5rem;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgb(255 255 255);
  border: 1rem solid #ccc;  
  flex-direction: column;    
  padding: 1rem;
  font-size: 28px;
}

.card-content {
  padding: 1rem;  
  justify-content: center;
}

img.profilepic { 
  height: auto;
  display: block;  
  /* padding: .5rem; */
}

img.ocean {  
  Display: block;
  float: left;
  padding: 2rem;
}

.california h2 {
  color: black;
  text-decoration: underline;
  background-color: rgb(255 255 255);
}

.california p {
  align-items: center;
  justify-content: center;
  display: flex;
}


p {
  padding: 2rem;
  margin: 0; 
}

li {
  padding: 2rem;
  font-weight: 400;  
  color: black;
  font-size: 28px;
}

li:hover {
  text-transform: uppercase;
}

ul a {
  color: black;
  text-decoration: underline;
}

footer {
  background-color: rgb(52, 52, 115);
  text-align: center;
  color: whitesmoke;
}