body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

h1 {
  font-weight: 100;
}

header span {
  display: block;
  justify-content: center;
}

nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}