:root {
    --color-primary: #1a4278;
    --color-secondary: #08052e;
    --color-background: #989baf;
    --color-text: black;
    --color-text-alt: whitesmoke;
    --font-family: 'lato', sans-serif;
    font-weight: bold;
}

h1, footer {
    background-color: var(--color-primary);
    color: var(--color-text-alt);
    padding: .5rem; 
    margin: 0 auto;
    text-align: center;      
}

#product-name {
    margin-bottom: 1rem;    
}

form {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);  
    padding: 1rem;  
}


div {
    margin-bottom: 1rem;
}

#product-name {
    display: flex;
    width: 100%;
    font-size: 1rem;    
}

#install-date {
    display: flex;
    width: 100%;
    font-size: 1rem;    
    justify-content: left;  
}


#star-a {
    align-items: center;
}


.optional {
    color: var(--color-secondary);
}

.notbold {
    font-weight: normal;    
}


.star-rating {
    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    align-items: flex-end;        
}

.star-rating span {
    flex-basis: 100%;
    margin-bottom: 0.5rem;       
}

.star-rating label {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    flex: 1;
    justify-content: center;
    gap: 0.3rem;
    font-size: 1rem;    
}

.star-rating input[type="radio"] {
    transform: scale(1.5);
    cursor: pointer;
}


.checkbox input[type="checkbox"] {      
    margin-top: 1rem;
    transform: scale(1.5);
    cursor: pointer;
}

#written-review {
    display: flex;
    font-size: 1.5rem;
    width: 100%;
    justify-content: center;    
}

.name input[type="text"] {
    display: flex;
    font-size: 1.5rem;
    width: 100%;
    justify-content: center;
}

button {
    font-size: 2em;
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(222, 222, 131);
    justify-content: center;
}


span.label, span.visits {
    display: block;
    text-align: center;    
}




 @media (max-width: 600px){    

    .star-rating label {             
        font-size: .5rem;
    }   

    .checkbox {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 0.5rem;
        align-items: start;        
    }

    .checkbox > label:first-child {
        grid-column: 1 / -1;
    }

    .checkbox input[type="checkbox"] {
        margin-top: 0.2rem;        
    }

    .checkbox label[for] {
        padding-left: 0.5rem;
    }    

    button {
        display: flex;
        font-size: 1.5rem;
        width: 100%;
        justify-content: center;
    }
}




