:root {
    --color-primary: #2f1a98;
    --color-secondary: #363cf4;
    --color-background: #c6a9dd;
    --color-text: black;
    --color-text-alt: whitesmoke;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, footer {
    background-color: var(--color-primary);
    color: var(--color-text-alt);
}
