:root {
    --color-primary: #1a4278;
    --color-secondary: #363cf4;
    --color-background: #989baf;
    --color-text: black;
    --color-text-alt: whitesmoke;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, footer {
    background-color: var(--color-primary);
    color: var(--color-text-alt);
    padding: .5rem;      
}

main {
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-family);  
    padding: 1rem;  
}
