:root {
    --primary-color: rgb(52,52,115);
    --accent-color: orangered;
    --light-bg: rgba(245,245,,245,0);
    --font-family: "Alegreya SC", serif;
    --border-width: 0.5rem;
    --padding-base: 1rem;
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: var(--primary-color);
    text-align: center;
    color: whitesmoke;
    font-size: 4rem;
    border-bottom: var(--border-width) solid var(--accent-color);
}

.hero img {
    position: relative;
    width: 100%; 
    height: auto;  
    object-fit: cover; 
}

h2, h3 {
    background-color: var(--accent-color);
    padding: 0.5rem;    
}


.data {
    position: absolute;
    top:20%;
    left: 5%;
    background-color: var(--light-bg);     
}


.weather {
    position: absolute;
    bottom: 20%;
    right: 5%;    
    background-color: var(--light-bg); 
}

.weather img, .weather svg {
    width: 20px;
    margin-top: 0.5rem;
}

li {
    list-style-type: none;
    padding: 1rvar(--padding-base);
    text-align: left;    
}

footer {
    background-color: var(--primary-color);
    text-align: center;
    color: whitesmoke;
    padding: 1remvar(--padding-base);
}

@media (max-width: 800px) {
    .data {
        position: static;
    }
    .weather {
        position: static;
        flex-direction: column;
    }             
}