* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: rgb(52, 52, 115);
    text-align: center;
    color: whitesmoke;
}



footer {
    background-color: rgb(52, 52, 115);
    text-align: center;
    color: whitesmoke;
    padding: 1rem;
}