* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #1e1e3e;
    text-align: center;
    color: whitesmoke;
    font-size: 4rem;
    border-bottom: .5rem solid orangered;
}

.hero img {
    position: relative;
    display: inline-block;
    width: 100%;    
}

h2 {
    background-color: orangered;    
}
 

.data {
    position: absolute;
    top:20%;
    left: 5%;
    background-color: rgba(245, 245, 245, 0.7);     
}

.climate {
    position: absolute;
    bottom: 15%;
    right: 5%;
    background-color: rgba(245, 245, 245, 0.7);    
}

li {
    list-style-type: none;
    padding: 1rem;
    text-align: left;    
}

footer {
    background-color: rgb(52, 52, 115);
    text-align: center;
    color: whitesmoke;
    padding: 1rem;
}