* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Gideon+Roman", sans-serif;
}

header {
    background-color: rgb(52, 52, 115);
    text-align: center;
    color: whitesmoke;
}



footer {
    background-color: rgb(52, 52, 115);
    text-align: center;
    color: whitesmoke;
    padding: 1rem;
}