* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: rgb(52, 52, 115);
    text-align: center;
    color: whitesmoke;
    font-size: 4rem;
    border-bottom: .5rem solid orangered;
}

.hero img {
    position: relative;
    width: 100%; 
    height: auto;  
    object-fit: cover; 
}

h2, h3 {
    background-color: orangered;
    padding: .5rem;    
}


 

.data {
    position: absolute;
    top:20%;
    left: 5%;
    background-color: rgba(245, 245, 245, 0.7);     
}


.weather {
    position: absolute;
    bottom: 20%;
    right: 5%;    
    background-color: rgba(245, 245, 245, 0.7); 
}

.weather img, .weather svg {
    width: 20px;
    margin-top: 0.5rem;
}

li {
    list-style-type: none;
    padding: 1rem;
    text-align: left;    
}

footer {
    background-color: rgb(52, 52, 115);
    text-align: center;
    color: whitesmoke;
    padding: 1rem;
}

@media (max-width: 800px) {
    .data {
        position: static;
    }
    .weather {
        position: static;
        flex-direction: column;
    }             
}