* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Alegreya SC", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #1e1e3e;
    text-align: center;
    color: whitesmoke;
    font-size: 4rem;
    border-bottom: .5rem solid orangered;
}

img {
    width: 100%;
    margin: 0 auto;
    padding: 0rem;
}


footer {
    background-color: rgb(52, 52, 115);
    text-align: center;
    color: whitesmoke;
    padding: 1rem;
}