:root {
    --primary-color: #607B79;
    --accent-color: #EF7E09;
    --background-color: #B89C79;
    --light-bg: #f7cc61;
    --font-family: 'simonetta', serif;
    --font-family-alt: 'zain', sans-serif;
    --border-width: 0.5rem;
    --padding-base: 1rem;
}

nav {
    background-color: #b89c79;
    text-align: center;
}

div {
    background-color: #b89c79;
}

footer {
    background-color: var(--background-color);
    text-align: center;
    color: black;
    padding: var(--padding-base);
}