

nav a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 400;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
}

nav a:hover {
    background-color: rgb(70, 70, 150);
    font-size:larger;
}

#album-title {    
    font-size: 2rem;
}

main {
    max-width: 1700px;
    margin: 0 auto;
}

figure.temple {
    display: inline-block;
    /* grid-template-columns: 1fr 1fr 1fr; */
    margin: 1rem;
    border: 0.5rem solid whitesmoke;
}