

header {
    background-color: rgb(52, 52, 115);
    text-align: center;
    color: whitesmoke;
}

nav {
    display: flex;
}

nav a {    
    text-decoration: none;
    color: whitesmoke;
    font-weight: 400;
    padding: 1rem;
    background-color: rgb(52, 52, 115);
}

nav ul {
    list-style-type: none;
}

nav a:hover {
    background-color: rgb(70, 70, 150);
    font-size:larger;
}

#album-title {    
    font-size: 2rem;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: larger;
    max-width: 1700px;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
    grid-column: 1/3;
    text-align: center;
}

main {
    max-width: 1700px;    
    display: grid;
    background-color: rgb(132, 168, 168);
}


figure.temple {
    display: inline-block;
    /* grid-template-columns: 1fr 1fr 1fr; */
    margin: 1rem;
    border: 0.5rem solid whitesmoke;
}

footer {
    background-color: rgb(52, 52, 115);
    text-align: center;
    color: whitesmoke;
    padding: 1rem;
}