

@media only screen and (min-width: 40em) {
    h1 {
        font-size: 2rem;
    }
    .navigation {
        display: flex;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
    .navigation a {
        text-align: center;
    }
    #menu {
        display: none;
    }
}



/* @media (min-width: 801px) {
    nav ul {
    display: flex;
    justify-content: space-around;
    }
    Nav ul li {
        flex: 1 1 100%;
    }
    main {
        min-width: 801px;
    }
} */



