



@media (min-width: 640px) {
    nav ul {
    display: flex;
    justify-content: space-around;
    }
    Nav ul li {
        flex: 1 1 100%;
    }
}


main {
    min-width: 801px;
    margin: 0 auto;
}

