

nav a {
    display: block;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 400;
    padding: 1rem;
}

nav ul {
    list-style-type: none;
}

nav a:hover {
    background-color: rgb(70, 70, 150);
    font-size:larger;
}


main {
    max-width: 1700px;
    margin: 0 auto;
}